.gear{
    position: fixed;
    top: 20px;
    left: 20px;
}
.pill{
    position: fixed;
    top: 20px;
    right: 20px;
}
.main-content{
    text-align: center;
}
.Being{
    color: blue; 
}
.search-input{
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    border: 3px solid blue;
    border-radius: 20px;
}
.tagline{
    color: gray;
    font-size: 14px;
}
.search{
    position:relative;
    left: 30px;
}